<!DOCTYPE html>
<html>
  <head>
    <title>DeviseBrasilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- lembrando que temos user_signed_in? que retorna
         true ou false -->

    <!-- temos também current_user, que retorna a instância do
         user que está logado naquele request -->

    <!-- Protocolo HTTP / HTTPS -->
    <!-- VERBS / METHODS -->
    <!-- Padrão RESTful -->
    <!-- GET, para buscar informação -->
    <!-- POST, para criar informação -->
    <!-- PATCH ou PUT, para atualizar informação -->
    <!-- DELETE, para remover informação -->

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
